/* Global Styles */
body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #e0e7ff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0d17;
}
::-webkit-scrollbar-thumb {
  background: #1f294f;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bc13fe;
}